# Ignore everything
**

# Allow files and directories
!/nginx.conf
!/nginx.default.conf.template
!/dist/**

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
